<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-curriculum-map-heading"
        data-cy="CurriculumMapCreateUpdateHeading"
        jhiTranslate="schInfoSysApp.curriculumMap.home.createOrEditLabel"
      >
        Create or edit a Curriculum Map
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.curriculumMap.quarterNo" for="field_quarterNo">Quarter No</label>
          <input type="number" class="form-control" name="quarterNo" id="field_quarterNo" data-cy="quarterNo" formControlName="quarterNo" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.curriculumMap.weekNo" for="field_weekNo">Week No</label>
          <input type="number" class="form-control" name="weekNo" id="field_weekNo" data-cy="weekNo" formControlName="weekNo" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.curriculumMap.topic" for="field_topic">Topic</label>
          <input type="text" class="form-control" name="topic" id="field_topic" data-cy="topic" formControlName="topic" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.curriculumMap.contentStandards" for="field_contentStandards"
            >Content Standards</label
          >
          <input
            type="text"
            class="form-control"
            name="contentStandards"
            id="field_contentStandards"
            data-cy="contentStandards"
            formControlName="contentStandards"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.curriculumMap.performanceStandards" for="field_performanceStandards"
            >Performance Standards</label
          >
          <input
            type="text"
            class="form-control"
            name="performanceStandards"
            id="field_performanceStandards"
            data-cy="performanceStandards"
            formControlName="performanceStandards"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.curriculumMap.course" for="field_course">Course</label>
          <select
            class="form-control"
            id="field_course"
            data-cy="course"
            name="course"
            formControlName="course"
            [compareWith]="compareCourse"
          >
            <option [ngValue]="null"></option>
            @for (courseOption of coursesSharedCollection; track $index) {
              <option [ngValue]="courseOption">{{ courseOption.courseDescription }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
