<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-student-heading" data-cy="StudentCreateUpdateHeading" jhiTranslate="schInfoSysApp.student.home.createOrEditLabel">
        Create or edit a Student
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.lrn" for="field_lrn">Lrn</label>
          <input type="text" class="form-control" name="lrn" id="field_lrn" data-cy="lrn" formControlName="lrn" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.middleName" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
          @if (editForm.get('middleName')!.invalid && (editForm.get('middleName')!.dirty || editForm.get('middleName')!.touched)) {
            <div>
              @if (editForm.get('middleName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.extName" for="field_extName">Ext Name</label>
          <input type="text" class="form-control" name="extName" id="field_extName" data-cy="extName" formControlName="extName" />
          @if (editForm.get('extName')!.invalid && (editForm.get('extName')!.dirty || editForm.get('extName')!.touched)) {
            <div>
              @if (editForm.get('extName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.birthDate" for="field_birthDate">Birth Date</label>
          <div class="d-flex">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="date"
              class="form-control"
              name="birthDate"
              formControlName="birthDate"
              placeholder="YYYY-MM-DD"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.birthPlace" for="field_birthPlace">Birth Place</label>
          <input
            type="text"
            class="form-control"
            name="birthPlace"
            id="field_birthPlace"
            data-cy="birthPlace"
            formControlName="birthPlace"
          />
          @if (editForm.get('birthPlace')!.invalid && (editForm.get('birthPlace')!.dirty || editForm.get('birthPlace')!.touched)) {
            <div>
              @if (editForm.get('birthPlace')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.contactNo" for="field_contactNo">Contact No</label>
          <input type="text" class="form-control" name="contactNo" id="field_contactNo" data-cy="contactNo" formControlName="contactNo" />
          @if (editForm.get('contactNo')!.invalid && (editForm.get('contactNo')!.dirty || editForm.get('contactNo')!.touched)) {
            <div>
              @if (editForm.get('contactNo')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 12 }"
                  >This field cannot be longer than 12 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.address1" for="field_address1">Address 1</label>
          <input type="text" class="form-control" name="address1" id="field_address1" data-cy="address1" formControlName="address1" />
          @if (editForm.get('address1')!.invalid && (editForm.get('address1')!.dirty || editForm.get('address1')!.touched)) {
            <div>
              @if (editForm.get('address1')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }"
                  >This field cannot be longer than 200 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.address2" for="field_address2">Address 2</label>
          <input type="text" class="form-control" name="address2" id="field_address2" data-cy="address2" formControlName="address2" />
          @if (editForm.get('address2')!.invalid && (editForm.get('address2')!.dirty || editForm.get('address2')!.touched)) {
            <div>
              @if (editForm.get('address2')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }"
                  >This field cannot be longer than 200 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.zipCode" for="field_zipCode">Zip Code</label>
          <input type="text" class="form-control" name="zipCode" id="field_zipCode" data-cy="zipCode" formControlName="zipCode" />
          @if (editForm.get('zipCode')!.invalid && (editForm.get('zipCode')!.dirty || editForm.get('zipCode')!.touched)) {
            <div>
              @if (editForm.get('zipCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
          @if (editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)) {
            <div>
              @if (editForm.get('country')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.nationality" for="field_nationality">Nationality</label>
          <input
            type="text"
            class="form-control"
            name="nationality"
            id="field_nationality"
            data-cy="nationality"
            formControlName="nationality"
          />
          @if (editForm.get('nationality')!.invalid && (editForm.get('nationality')!.dirty || editForm.get('nationality')!.touched)) {
            <div>
              @if (editForm.get('nationality')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.motherTongue" for="field_motherTongue">Mother Tongue</label>
          <input
            type="text"
            class="form-control"
            name="motherTongue"
            id="field_motherTongue"
            data-cy="motherTongue"
            formControlName="motherTongue"
          />
          @if (editForm.get('motherTongue')!.invalid && (editForm.get('motherTongue')!.dirty || editForm.get('motherTongue')!.touched)) {
            <div>
              @if (editForm.get('motherTongue')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.religion" for="field_religion">Religion</label>
          <input type="text" class="form-control" name="religion" id="field_religion" data-cy="religion" formControlName="religion" />
          @if (editForm.get('religion')!.invalid && (editForm.get('religion')!.dirty || editForm.get('religion')!.touched)) {
            <div>
              @if (editForm.get('religion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.fathersLastName" for="field_fathersLastName"
            >Fathers Last Name</label
          >
          <input
            type="text"
            class="form-control"
            name="fathersLastName"
            id="field_fathersLastName"
            data-cy="fathersLastName"
            formControlName="fathersLastName"
          />
          @if (
            editForm.get('fathersLastName')!.invalid && (editForm.get('fathersLastName')!.dirty || editForm.get('fathersLastName')!.touched)
          ) {
            <div>
              @if (editForm.get('fathersLastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.fathersMiddleName" for="field_fathersMiddleName"
            >Fathers Middle Name</label
          >
          <input
            type="text"
            class="form-control"
            name="fathersMiddleName"
            id="field_fathersMiddleName"
            data-cy="fathersMiddleName"
            formControlName="fathersMiddleName"
          />
          @if (
            editForm.get('fathersMiddleName')!.invalid &&
            (editForm.get('fathersMiddleName')!.dirty || editForm.get('fathersMiddleName')!.touched)
          ) {
            <div>
              @if (editForm.get('fathersMiddleName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.fathersFirstName" for="field_fathersFirstName"
            >Fathers First Name</label
          >
          <input
            type="text"
            class="form-control"
            name="fathersFirstName"
            id="field_fathersFirstName"
            data-cy="fathersFirstName"
            formControlName="fathersFirstName"
          />
          @if (
            editForm.get('fathersFirstName')!.invalid &&
            (editForm.get('fathersFirstName')!.dirty || editForm.get('fathersFirstName')!.touched)
          ) {
            <div>
              @if (editForm.get('fathersFirstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.fathersExtName" for="field_fathersExtName">Fathers Ext Name</label>
          <input
            type="text"
            class="form-control"
            name="fathersExtName"
            id="field_fathersExtName"
            data-cy="fathersExtName"
            formControlName="fathersExtName"
          />
          @if (
            editForm.get('fathersExtName')!.invalid && (editForm.get('fathersExtName')!.dirty || editForm.get('fathersExtName')!.touched)
          ) {
            <div>
              @if (editForm.get('fathersExtName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.fathersOccupation" for="field_fathersOccupation"
            >Fathers Occupation</label
          >
          <input
            type="text"
            class="form-control"
            name="fathersOccupation"
            id="field_fathersOccupation"
            data-cy="fathersOccupation"
            formControlName="fathersOccupation"
          />
          @if (
            editForm.get('fathersOccupation')!.invalid &&
            (editForm.get('fathersOccupation')!.dirty || editForm.get('fathersOccupation')!.touched)
          ) {
            <div>
              @if (editForm.get('fathersOccupation')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.fathersContacts" for="field_fathersContacts"
            >Fathers Contacts</label
          >
          <input
            type="text"
            class="form-control"
            name="fathersContacts"
            id="field_fathersContacts"
            data-cy="fathersContacts"
            formControlName="fathersContacts"
          />
          @if (
            editForm.get('fathersContacts')!.invalid && (editForm.get('fathersContacts')!.dirty || editForm.get('fathersContacts')!.touched)
          ) {
            <div>
              @if (editForm.get('fathersContacts')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.mothersLastName" for="field_mothersLastName"
            >Mothers Last Name</label
          >
          <input
            type="text"
            class="form-control"
            name="mothersLastName"
            id="field_mothersLastName"
            data-cy="mothersLastName"
            formControlName="mothersLastName"
          />
          @if (
            editForm.get('mothersLastName')!.invalid && (editForm.get('mothersLastName')!.dirty || editForm.get('mothersLastName')!.touched)
          ) {
            <div>
              @if (editForm.get('mothersLastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.mothersMiddleName" for="field_mothersMiddleName"
            >Mothers Middle Name</label
          >
          <input
            type="text"
            class="form-control"
            name="mothersMiddleName"
            id="field_mothersMiddleName"
            data-cy="mothersMiddleName"
            formControlName="mothersMiddleName"
          />
          @if (
            editForm.get('mothersMiddleName')!.invalid &&
            (editForm.get('mothersMiddleName')!.dirty || editForm.get('mothersMiddleName')!.touched)
          ) {
            <div>
              @if (editForm.get('mothersMiddleName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.mothersFirstName" for="field_mothersFirstName"
            >Mothers First Name</label
          >
          <input
            type="text"
            class="form-control"
            name="mothersFirstName"
            id="field_mothersFirstName"
            data-cy="mothersFirstName"
            formControlName="mothersFirstName"
          />
          @if (
            editForm.get('mothersFirstName')!.invalid &&
            (editForm.get('mothersFirstName')!.dirty || editForm.get('mothersFirstName')!.touched)
          ) {
            <div>
              @if (editForm.get('mothersFirstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.mothersOccupation" for="field_mothersOccupation"
            >Mothers Occupation</label
          >
          <input
            type="text"
            class="form-control"
            name="mothersOccupation"
            id="field_mothersOccupation"
            data-cy="mothersOccupation"
            formControlName="mothersOccupation"
          />
          @if (
            editForm.get('mothersOccupation')!.invalid &&
            (editForm.get('mothersOccupation')!.dirty || editForm.get('mothersOccupation')!.touched)
          ) {
            <div>
              @if (editForm.get('mothersOccupation')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.mothersContacts" for="field_mothersContacts"
            >Mothers Contacts</label
          >
          <input
            type="text"
            class="form-control"
            name="mothersContacts"
            id="field_mothersContacts"
            data-cy="mothersContacts"
            formControlName="mothersContacts"
          />
          @if (
            editForm.get('mothersContacts')!.invalid && (editForm.get('mothersContacts')!.dirty || editForm.get('mothersContacts')!.touched)
          ) {
            <div>
              @if (editForm.get('mothersContacts')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.guardianFullName" for="field_guardianFullName"
            >Guardian Full Name</label
          >
          <input
            type="text"
            class="form-control"
            name="guardianFullName"
            id="field_guardianFullName"
            data-cy="guardianFullName"
            formControlName="guardianFullName"
          />
          @if (
            editForm.get('guardianFullName')!.invalid &&
            (editForm.get('guardianFullName')!.dirty || editForm.get('guardianFullName')!.touched)
          ) {
            <div>
              @if (editForm.get('guardianFullName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.guardianContacts" for="field_guardianContacts"
            >Guardian Contacts</label
          >
          <input
            type="text"
            class="form-control"
            name="guardianContacts"
            id="field_guardianContacts"
            data-cy="guardianContacts"
            formControlName="guardianContacts"
          />
          @if (
            editForm.get('guardianContacts')!.invalid &&
            (editForm.get('guardianContacts')!.dirty || editForm.get('guardianContacts')!.touched)
          ) {
            <div>
              @if (editForm.get('guardianContacts')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="schInfoSysApp.student.gender" for="field_gender">Gender</label>
          <select
            class="form-control"
            id="field_gender"
            data-cy="gender"
            name="gender"
            formControlName="gender"
            [compareWith]="compareAppConfig"
          >
            <option [ngValue]="null"></option>
            @for (appConfigOption of gendersCollection; track $index) {
              <option [ngValue]="appConfigOption">{{ appConfigOption.description }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
