<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (org) {
      <div>
        <h2 data-cy="orgDetailsHeading"><span jhiTranslate="schInfoSysApp.org.detail.title">Org</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ org.id }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.org.name">Name</span></dt>
          <dd>
            <span>{{ org.name }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.org.logo">Logo</span></dt>
          <dd>
            <span>{{ org.logo }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.org.address">Address</span></dt>
          <dd>
            <span>{{ org.address }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.org.currSchYr">Curr Sch Yr</span></dt>
          <dd>
            @if (org.currSchYr) {
              <div>
                <a [routerLink]="['/app-config', org.currSchYr.id, 'view']">{{ org.currSchYr.description }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/org', org.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
