<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (resources) {
      <div>
        <h2 data-cy="resourcesDetailsHeading"><span jhiTranslate="schInfoSysApp.resources.detail.title">Resources</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ resources.id }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.resources.fileName">File Name</span></dt>
          <dd>
            <span>{{ resources.fileName }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.resources.fileNameOnServer">File Name On Server</span></dt>
          <dd>
            <span>{{ resources.fileNameOnServer }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.resources.document">Document</span></dt>
          <dd>
            @if (resources.document) {
              <div>
                <a (click)="openFile(resources.document, resources.documentContentType)" jhiTranslate="entity.action.open">Open</a>
                {{ resources.documentContentType }}, {{ byteSize(resources.document) }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.resources.strategies">Strategies</span></dt>
          <dd>
            @if (resources.strategies) {
              <div>
                <a [routerLink]="['/strategies', resources.strategies.id, 'view']">{{ resources.strategies.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.resources.assessment">Assessment</span></dt>
          <dd>
            @if (resources.assessment) {
              <div>
                <a [routerLink]="['/assessment', resources.assessment.id, 'view']">{{ resources.assessment.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/resources', resources.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
