<div class="row col-sm-12 mb-sm-2 fw-bold text-center bg-body-secondary">
  <div class="col-sm-12 mb-sm-2 fw-bold text-center">{{ selectedCourse?.subject }}</div>
  <div class="col-sm-12 mb-sm-2 fw-bold text-center"
       jhiTranslate="schInfoSysApp.curriculumMappingDashboard.scopeAndSequence">SCOPE AND SEQUENCE
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    @for (key of curMapByQuarter.keys(); track $index) {
      <th scope="col" class="fw-bold text-center hand" (click)="showQuarter(key)" [ngClass]="{ 'table-active': isSelectedQuarter(key)}">
        Quarter {{ key }}
        @if(isSelectedQuarter(key)){
          <a class="d-print-none" [routerLink]="['/curriculum-map', selectedCourse?.id, key, 'new']" ><fa-icon icon="plus"></fa-icon></a>
        }
      </th>
    }
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr>
    @for (key of curMapByQuarter.keys(); track $index) {
      <td [ngClass]="{ 'table-active': isSelectedQuarter(key)}">
        @for (c of curMapByQuarter.get(key); track $index) {
          <div class="col-12">
            {{ c.topic }}
          </div>
        }
      </td>
    }
  </tr>
  </tbody>
</table>
