@if (student(); as studentRef) {
  <div class="card shadow-lg bg-body-tertiary rounded-4 mb-2">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-9">
          <h5 data-cy="studentDetailsHeading">
            <span class="fw-semibold">{{ studentRef.lrn }}</span> - <span>{{ studentRef | name }}</span>
          </h5>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
          @if (!studentRef?.enrollmentDate || !studentRef?.enrollmentDate?.isValid()) {
            <button type="button" class="btn btn-primary btn-sm rounded-pill" (click)="enroll()" [disabled]="isSaving()">
              <fa-icon icon="pencil-alt" />&nbsp;<span>Enroll</span>
            </button>
          }
        </div>
      </div>
    </div>
    <div class="card-body py-0 row">
      @if (!source()) {
        <jhi-alert-error />
        <jhi-alert />
      }

      <div class="row">
        <div class="col-12">
          <span class="fw-semibold fst-italic" jhiTranslate="schInfoSysApp.student.enrollmentDate">Birth Date</span>
          <span class="fst-italic">{{ studentRef?.enrollmentDate | formatMediumDate }}</span>
        </div>
        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.birthDate">Birth Date</span></div>
        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.birthPlace">Birth Place</span></div>
        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.age">Age</span></div>
        <div class="col-4">
          <span class="text-nowrap">{{ studentRef?.birthDate | formatMediumDate }}</span>
        </div>
        <div class="col-4">
          <span>{{ studentRef?.birthPlace }}</span>
        </div>
        <div class="col-4">
          <span>{{ studentRef?.birthDate | age }}</span>
        </div>

        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.gender">Age</span></div>
        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.contactNo">contactNo</span></div>
        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.religion">religion</span></div>
        <div class="col-4">
          <span>{{ studentRef?.gender?.value }}</span>
        </div>
        <div class="col-4">
          <span>{{ studentRef?.contactNo }}</span>
        </div>
        <div class="col-4">
          <span>{{ studentRef?.religion }}</span>
        </div>
        <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.nationality">nationality</span></div>
        <div class="col-8"><span class="fw-semibold text-nowrap" jhiTranslate="schInfoSysApp.student.motherTongue">motherTongue</span></div>
        <div class="col-4">
          <span>{{ studentRef?.nationality }}</span>
        </div>
        <div class="col-8">
          <span>{{ studentRef?.motherTongue }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow-lg bg-body-tertiary rounded-4 mb-2">
    <div class="card-header">
      <h5 data-cy="studentDetailsHeading">
        <span class="fw-semibold" jhiTranslate="schInfoSysApp.student.address">address</span>
      </h5>
    </div>
    <div class="card-body py-0 row">
      <div class="col-12">
        <span
          >{{ studentRef?.address1 }}
          @if (studentRef?.address2) {
            {{ studentRef?.address2 }}
          }
          <br />{{ studentRef?.city }} {{ studentRef?.country }} {{ studentRef?.zipCode }}</span
        >
      </div>
    </div>
  </div>
  <div class="card shadow-lg bg-body-tertiary rounded-4 mb-2">
    <div class="card-header">
      <h5 data-cy="studentDetailsHeading">
        <span>Parents</span>
      </h5>
    </div>
    <div class="card-body py-0 row">
      <div class="col-8"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.father">Fathers</span></div>
      <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.occupation">occupation</span></div>
      <div class="col-8">
        <span>{{ studentRef?.fathersLastName }}, {{ studentRef?.fathersFirstName }} {{ studentRef?.fathersMiddleName }}</span>
      </div>
      <div class="col-4">
        <span>{{ studentRef?.fathersOccupation }}</span>
      </div>
      <div class="col-12">
        <span class="fw-semibold" jhiTranslate="schInfoSysApp.student.fathersContacts">Fathers fathersContacts</span>
      </div>
      <div class="col-12">
        <span>{{ studentRef?.fathersContacts }}</span>
      </div>
      <div class="col-8"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.mother">Mother</span></div>
      <div class="col-4"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.occupation">occupation</span></div>
      <div class="col-8">
        <span>{{ studentRef?.mothersLastName }}, {{ studentRef?.mothersFirstName }} {{ studentRef?.mothersMiddleName }}</span>
      </div>
      <div class="col-4">
        <span>{{ studentRef?.mothersOccupation }}</span>
      </div>
      <div class="col-12"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.mothersContacts">mothersContacts</span></div>
      <div class="col-12">
        <span>{{ studentRef?.mothersContacts }}</span>
      </div>
    </div>
  </div>
  <div class="card shadow-lg bg-body-tertiary rounded-4 mb-2">
    <div class="card-header">
      <h5 data-cy="studentDetailsHeading">
        <span>Guardians</span>
      </h5>
    </div>
    <div class="card-body py-0 row">
      <div class="col-6"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.guardianFullName">guardianFullName</span></div>
      <div class="col-6"><span class="fw-semibold" jhiTranslate="schInfoSysApp.student.guardianContacts">guardianContacts</span></div>
      <div class="col-6">
        <span>{{ studentRef?.guardianFullName }}</span>
      </div>
      <div class="col-6">
        <span>{{ studentRef?.guardianContacts }}</span>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" (click)="previousState()" class="btn btn-info rounded-pill" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button type="button" [routerLink]="['/student', studentRef.id, 'edit', 'view']" class="btn btn-primary rounded-pill">
      <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
}
