<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (student) {
      <div>
        <h2 data-cy="studentDetailsHeading"><span jhiTranslate="schInfoSysApp.student.detail.title">Student</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row jh-entity-details">
          <dt class="col-sm-2"><span jhiTranslate="global.field.id">ID</span></dt>
          <dd class="col-sm-10">
            <span>{{ student.id }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.lrn">Lrn</span></dt>
          <dd class="col-sm-10">
            <span>{{ student.lrn }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.firstName">First Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.firstName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.middleName">Middle Name</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.middleName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.lastName">Last Name</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.lastName }}</span>
          </dd>
          <dt class="col-sm-1"><span jhiTranslate="schInfoSysApp.student.extName">Ext Name</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.extName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.birthDate">Birth Date</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.birthDate | formatMediumDate }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.birthPlace">Birth Place</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.birthPlace }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.contactNo">Contact No</span></dt>
          <dd class="col-sm-1 border">
            <span>{{ student.contactNo }}</span>
          </dd>

          <dt class="col-sm-1"><span jhiTranslate="schInfoSysApp.student.gender">Gender</span></dt>
          <dd class="col-sm-1">
            @if (student.gender) {
              <a [routerLink]="['/app-config', student.gender.id, 'view']">{{ student.gender.description  }}</a>
            }
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.address1">Address 1</span></dt>
          <dd class="col-sm-10">
            <span>{{ student.address1 }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.address2">Address 2</span></dt>
          <dd class="col-sm-10">
            <span>{{ student.address2 }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.city">City</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.city }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.zipCode">Zip Code</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.zipCode }}</span>
          </dd>
          <dt class="col-sm-1"><span jhiTranslate="schInfoSysApp.student.country">Country</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.country }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.nationality">Nationality</span></dt>
          <dd class="col-sm-1">
            <span>{{ student.nationality }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.motherTongue">Mother Tongue</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.motherTongue }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.religion">Religion</span></dt>
          <dd class="col-sm-6">
            <span>{{ student.religion }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.fathersLastName">Fathers Last Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.fathersLastName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.fathersMiddleName">Fathers Middle Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.fathersMiddleName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.fathersFirstName">Fathers First Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.fathersFirstName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.fathersExtName">Fathers Ext Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.fathersExtName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.fathersOccupation">Fathers Occupation</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.fathersOccupation }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.fathersContacts">Fathers Contacts</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.fathersContacts }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.mothersLastName">Mothers Last Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.mothersLastName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.mothersMiddleName">Mothers Middle Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.mothersMiddleName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.mothersFirstName">Mothers First Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.mothersFirstName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.mothersOccupation">Mothers Occupation</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.mothersOccupation }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.mothersContacts">Mothers Contacts</span></dt>
          <dd class="col-sm-6">
            <span>{{ student.mothersContacts }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.guardianFullName">Guardian Full Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.guardianFullName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.student.guardianContacts">Guardian Contacts</span></dt>
          <dd class="col-sm-2">
            <span>{{ student.guardianContacts }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
