<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (curriculumMap) {
      <div>
        <h2 data-cy="curriculumMapDetailsHeading"><span jhiTranslate="schInfoSysApp.curriculumMap.detail.title">Curriculum Map</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ curriculumMap.id }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.quarterNo">Quarter No</span></dt>
          <dd>
            <span>{{ curriculumMap.quarterNo }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.weekNo">Week No</span></dt>
          <dd>
            <span>{{ curriculumMap.weekNo }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.course">Course</span></dt>
          <dd>
            @if (curriculumMap.course) {
              <div>
                <a [routerLink]="['/course', curriculumMap.course.id, 'view']">{{ curriculumMap.course.subject }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.topic">Topic</span></dt>
          <dd>
            <span>{{ curriculumMap.topic }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.contentStandards">Content Standards</span></dt>
          <dd>
            <span>{{ curriculumMap.contentStandards }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.performanceStandards">Performance Standards</span></dt>
          <dd>
            <span>{{ curriculumMap.performanceStandards }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.createdBy">Created By</span></dt>
          <dd>
            <span>{{ curriculumMap.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ curriculumMap.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ curriculumMap.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.curriculumMap.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ curriculumMap.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/curriculum-map', curriculumMap.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
