<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payments-heading" data-cy="PaymentsCreateUpdateHeading" jhiTranslate="schInfoSysApp.payments.home.createOrEditLabel">
        Create or edit a Payments
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_amount" jhiTranslate="schInfoSysApp.payments.amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        @let transactionReferenceRef = editForm.get('transactionReference')!;
        <div class="mb-3">
          <label class="form-label" for="field_transactionReference" jhiTranslate="schInfoSysApp.payments.transactionReference"
            >Transaction Reference</label
          >
          <input
            type="text"
            class="form-control"
            name="transactionReference"
            id="field_transactionReference"
            data-cy="transactionReference"
            formControlName="transactionReference"
          />
          @if (transactionReferenceRef.invalid && (transactionReferenceRef.dirty || transactionReferenceRef.touched)) {
            <div>
              @if (editForm.get('transactionReference')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="schInfoSysApp.payments.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="schInfoSysApp.payments.createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        @let lastModifiedByRef = editForm.get('lastModifiedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedBy" jhiTranslate="schInfoSysApp.payments.lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          @if (lastModifiedByRef.invalid && (lastModifiedByRef.dirty || lastModifiedByRef.touched)) {
            <div>
              @if (editForm.get('lastModifiedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedDate" jhiTranslate="schInfoSysApp.payments.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="input-group">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="text"
              class="form-control"
              name="lastModifiedDate"
              ngbDatepicker
              #lastModifiedDateDp="ngbDatepicker"
              formControlName="lastModifiedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="lastModifiedDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_method" jhiTranslate="schInfoSysApp.payments.method">Method</label>
          <select
            class="form-control"
            id="field_method"
            data-cy="method"
            name="method"
            formControlName="method"
            [compareWith]="compareAppConfig"
          >
            <option [ngValue]="null"></option>
            @for (appConfigOption of methodsCollection(); track $index) {
              <option [ngValue]="appConfigOption">{{ appConfigOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_invoices" jhiTranslate="schInfoSysApp.payments.invoices">Invoices</label>
          <select
            class="form-control"
            id="field_invoices"
            data-cy="invoices"
            name="invoices"
            formControlName="invoices"
            [compareWith]="compareInvoices"
          >
            <option [ngValue]="null"></option>
            @for (invoicesOption of invoicesesSharedCollection(); track $index) {
              <option [ngValue]="invoicesOption">{{ invoicesOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
