<div>
  <h2 id="page-heading" data-cy="LearningCompetencyHeading">
    <span jhiTranslate="schInfoSysApp.learningCompetency.home.title">Learning Competencies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schInfoSysApp.learningCompetency.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-learning-competency"
        [routerLink]="['/learning-competency/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schInfoSysApp.learningCompetency.home.createLabel">Create a new Learning Competency</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (learningCompetencies?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="schInfoSysApp.learningCompetency.home.notFound">No Learning Competencies found</span>
    </div>
  }

  @if (learningCompetencies && learningCompetencies.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="seqNo">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.seqNo">Seq No</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="curriculumMap.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.curriculumMap">Curriculum Map</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="competencyCode">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.competencyCode">Competency Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.learningCompetency.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (learningCompetency of learningCompetencies; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/learning-competency', learningCompetency.id, 'view']">{{ learningCompetency.id }}</a>
              </td>
              <td>{{ learningCompetency.seqNo }}</td>
              <td>
                @if (learningCompetency.curriculumMap) {
                  <div>
                    <a [routerLink]="['/curriculum-map', learningCompetency.curriculumMap.id, 'view']">{{
                        '[' + learningCompetency.curriculumMap.quarterNo + '-' + learningCompetency.curriculumMap.weekNo + '] '+ learningCompetency.curriculumMap.topic
                      }}</a>
                  </div>
                }
              </td>
              <td>{{ learningCompetency.competencyCode }}</td>
              <td>{{ learningCompetency.description }}</td>
              <td>{{ learningCompetency.createdBy }}</td>
              <td>{{ learningCompetency.createdDate | formatMediumDatetime }}</td>
              <td>{{ learningCompetency.lastModifiedBy }}</td>
              <td>{{ learningCompetency.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/learning-competency', learningCompetency.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/learning-competency', learningCompetency.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(learningCompetency)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (learningCompetencies && learningCompetencies.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
