
    <form name="uploadForm" role="form" novalidate (ngSubmit)="submitForm()">
      <div class="modal-header">
        <h4 class="modal-title" data-cy="resourcesDeleteDialogHeading"
            jhiTranslate="schInfoSysApp.resources.upload-dialog.title">Upload Resources Dialog</h4>

        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
      </div>

      <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" id="uploadFileDiv">
          <jhi-upload-file [maxFiles]="10" [files]="files"></jhi-upload-file>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </div>
    </form>
