<div>
  <h2 id="page-heading" data-cy="CurriculumMapHeading">
    <span jhiTranslate="schInfoSysApp.curriculumMap.home.title">Curriculum Maps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="schInfoSysApp.curriculumMap.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-curriculum-map"
        [routerLink]="['/curriculum-map/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="schInfoSysApp.curriculumMap.home.createLabel">Create a new Curriculum Map</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (curriculumMaps().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="schInfoSysApp.curriculumMap.home.notFound">No Curriculum Maps found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="course.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.course">Course</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="quarterNo">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.quarterNo">Quarter No</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="weekNo">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.weekNo">Week No</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="topic">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.topic">Topic</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="contentStandards">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.contentStandards">Content Standards</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="performanceStandards">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.performanceStandards">Performance Standards</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.curriculumMap.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (curriculumMap of curriculumMaps(); track trackId(curriculumMap)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/curriculum-map', curriculumMap.id, 'view']">{{ curriculumMap.id }}</a>
              </td>
              <td>
                @if (curriculumMap.course) {
                  <div>
                    <a [routerLink]="['/course', curriculumMap.course.id, 'view']"
                      >{{ curriculumMap.course.subject }} - {{ curriculumMap.course.gradelevel?.value }}</a
                    >
                  </div>
                }
              </td>
              <td>{{ curriculumMap.quarterNo }}</td>
              <td>{{ curriculumMap.weekNo }}</td>
              <td>{{ curriculumMap.topic }}</td>
              <td>{{ curriculumMap.contentStandards }}</td>
              <td>{{ curriculumMap.performanceStandards }}</td>
              <td>{{ curriculumMap.createdBy }}</td>
              <td>{{ curriculumMap.createdDate | formatMediumDatetime }}</td>
              <td>{{ curriculumMap.lastModifiedBy }}</td>
              <td>{{ curriculumMap.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/curriculum-map', curriculumMap.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/curriculum-map', curriculumMap.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(curriculumMap)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (curriculumMaps().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
