<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (strategies(); as strategiesRef) {
      <div>
        <h2 data-cy="strategiesDetailsHeading"><span jhiTranslate="schInfoSysApp.strategies.detail.title">Strategies</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ strategiesRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.name">Name</span></dt>
          <dd>
            <span>{{ strategiesRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.description">Description</span></dt>
          <dd>
            <span>{{ strategiesRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.createdBy">Created By</span></dt>
          <dd>
            <span>{{ strategiesRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ strategiesRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ strategiesRef.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ strategiesRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.resources">Resources</span></dt>
          <dd>
            @for (resources of strategiesRef.resourceses; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/resources', resources.id, 'view']">{{ resources?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.learningCompetency">Learning Competency</span></dt>
          <dd>
            @if (strategies()!.learningCompetency) {
              <div>
                <a [routerLink]="['/learning-competency', strategies()!.learningCompetency?.id, 'view']">{{
                  strategiesRef.learningCompetency?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/strategies', strategiesRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
