<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (strategies) {
      <div>
        <h2 data-cy="strategiesDetailsHeading"><span jhiTranslate="schInfoSysApp.strategies.detail.title">Strategies</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ strategies.id }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.name">Name</span></dt>
          <dd>
            <span>{{ strategies.name }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.description">Description</span></dt>
          <dd>
            <span>{{ strategies.description }}</span>
          </dd>
          <dt><span jhiTranslate="schInfoSysApp.strategies.learningCompetency">Learning Competency</span></dt>
          <dd>
            @if (strategies.learningCompetency) {
              <div>
                <a [routerLink]="['/learning-competency', strategies.learningCompetency.id, 'view']">{{
                  strategies.learningCompetency.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/strategies', strategies.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
