<div>
  <h2 id="page-heading" data-cy="CourseHeading">
    <span jhiTranslate="schInfoSysApp.course.home.title">Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="schInfoSysApp.course.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-course"
        [routerLink]="['/course/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="schInfoSysApp.course.home.createLabel">Create a new Course</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (courses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="schInfoSysApp.course.home.notFound">No Courses found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="subject">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.subject">Subject</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="hoursPerQuarter">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.hoursPerQuarter">Hours Per Quarter</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="courseDescription">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.courseDescription">Course Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="courseObjectives">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.courseObjectives">Course Objectives</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="gradelevel.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.gradelevel">Gradelevel</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="department.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.department">Department</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="year.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.year">Year</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="terms.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.course.terms">Terms</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (course of courses(); track trackId(course)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/course', course.id, 'view']">{{ course.id }}</a>
              </td>
              <td>{{ course.subject }}</td>
              <td>{{ course.hoursPerQuarter }}</td>
              <td>{{ course.courseDescription }}</td>
              <td>{{ course.courseObjectives }}</td>
              <td>{{ course.createdBy }}</td>
              <td>{{ course.createdDate | formatMediumDatetime }}</td>
              <td>{{ course.lastModifiedBy }}</td>
              <td>{{ course.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (course.gradelevel) {
                  <div>
                    <a [routerLink]="['/app-config', course.gradelevel.id, 'view']">{{ course.gradelevel.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (course.department) {
                  <div>
                    <a [routerLink]="['/departments', course.department.id, 'view']">{{ course.department.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (course.year) {
                  <div>
                    <a [routerLink]="['/academic-year', course.year.id, 'view']">{{ course.year.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (course.terms) {
                  <div>
                    <a [routerLink]="['/academic-terms', course.terms.id, 'view']">{{ course.terms.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/course', course.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/course', course.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(course)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (courses().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
