<div>
  <h2 id="page-heading" data-cy="ClassScheduleHeading">
    <span jhiTranslate="schInfoSysApp.classSchedule.home.title">Class Schedules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="schInfoSysApp.classSchedule.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-class-schedule"
        [routerLink]="['/class-schedule/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="schInfoSysApp.classSchedule.home.createLabel">Create a new Class Schedule</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (classSchedules().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="schInfoSysApp.classSchedule.home.notFound">No Class Schedules found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.classSchedule.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="gradelevel.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.classSchedule.gradelevel">Gradelevel</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="terms.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.classSchedule.terms">Terms</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="year.id">
              <div class="d-flex">
                <span jhiTranslate="schInfoSysApp.classSchedule.year">Year</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (classSchedule of classSchedules(); track trackId(classSchedule)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/class-schedule', classSchedule.id, 'view']">{{ classSchedule.id }}</a>
              </td>
              <td>{{ classSchedule.name }}</td>
              <td>
                @if (classSchedule.gradelevel) {
                  <div>
                    <a [routerLink]="['/app-config', classSchedule.gradelevel.id, 'view']">{{ classSchedule.gradelevel.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (classSchedule.terms) {
                  <div>
                    <a [routerLink]="['/academic-terms', classSchedule.terms.id, 'view']">{{ classSchedule.terms.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (classSchedule.year) {
                  <div>
                    <a [routerLink]="['/academic-year', classSchedule.year.id, 'view']">{{ classSchedule.year.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/class-schedule', classSchedule.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/class-schedule', classSchedule.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(classSchedule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (classSchedules().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
