<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (instructor) {
      <div>
        <h2 data-cy="instructorDetailsHeading"><span jhiTranslate="schInfoSysApp.instructor.detail.title">Instructor</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row jh-entity-details">
          <dt class="col-sm-2"><span jhiTranslate="global.field.id">ID</span></dt>
          <dd class="col-sm-10">
            <span>{{ instructor.id }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.firstName">First Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.firstName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.middleName">Middle Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.middleName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.lastName">Last Name</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.lastName }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.email">Email</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.email }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.phoneNumber">Phone Number</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.phoneNumber }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.hireDate">Hire Date</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.hireDate | formatMediumDate }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.salary">Salary</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.salary }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.commissionPct">Commission Pct</span></dt>
          <dd class="col-sm-2">
            <span>{{ instructor.commissionPct }}</span>
          </dd>
          <dt class="col-sm-2"><span jhiTranslate="schInfoSysApp.instructor.gender">Gender</span></dt>
          <dd class="col-sm-2">
            @if (instructor.gender) {
              <div>
                <a [routerLink]="['/app-config', instructor.gender.id, 'view']">{{ instructor.gender.description }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/instructor', instructor.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
