<div>
  @if (source() !== 'enroll') {
    <h2 id="page-heading" data-cy="StudentHeading">
      <span jhiTranslate="schInfoSysApp.student.home.title">Students </span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
          <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
          <span jhiTranslate="schInfoSysApp.student.home.refreshListLabel">Refresh list</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-student"
          [routerLink]="['/student/new/list']"
        >
          <fa-icon icon="plus" />
          <span jhiTranslate="schInfoSysApp.student.home.createLabel">Registration Form</span>
        </button>
      </div>
    </h2>

    <jhi-alert-error />
    <jhi-alert />
  }

  @if (students().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="schInfoSysApp.student.home.notFound">No Students found</span>
    </div>
  }

  @if (students().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }

  @if (!source()) {
    <div class="table-responsive table-entities" id="entities">
      <form name="filterForm" class="d-flex align-items-center" novalidate [formGroup]="filterForm">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
              <th scope="col" jhiSortBy="id">
                <div class="d-flex">
                  <span jhiTranslate="global.field.id">ID</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="lrn">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.lrn">Lrn</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="lastName">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.lastName">Last Name</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="firstName">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.firstName">First Name</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="gradelevel">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.gradelevel">gradelevel</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="enrollmentDate">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.enrollmentDate">Enrollment Date</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="birthDate">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.birthDate">Birth Date</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="contactNo">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.contactNo">Contact No</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="createdBy">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.createdBy">Created By</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="createdDate">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.createdDate">Created Date</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="lastModifiedBy">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.lastModifiedBy">Last Modified By</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="lastModifiedDate">
                <div class="d-flex">
                  <span jhiTranslate="schInfoSysApp.student.lastModifiedDate">Last Modified Date</span>

                  <fa-icon class="p-1" icon="sort" />
                </div>
              </th>
              <th scope="col"></th>
            </tr>

            <tr data-cy="filter">
              <td></td>
              <td>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="lrn"
                  placeholder="LRN"
                  aria-label="LRN"
                  id="filter_field_lrn"
                  data-cy="lrn"
                  formControlName="lrn"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="lastName"
                  placeholder="Last Name"
                  aria-label="Last Name"
                  id="field_lastName"
                  data-cy="lastName"
                  formControlName="lastName"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="firstName"
                  placeholder="First Name"
                  aria-label="First Name"
                  id="field_firstName"
                  data-cy="firstName"
                  formControlName="firstName"
                />
              </td>
              <td>
                <select class="form-control" id="field_gradelevel" data-cy="gradelevel" name="gradelevel" formControlName="gradelevel">
                  <option [ngValue]="null"></option>
                  @for (appConfigOption of gradelevelsCollection(); track $index) {
                    <option [ngValue]="appConfigOption">{{ appConfigOption.value }}</option>
                  }
                </select>
              </td>
              <td></td>
              <td>
                <input
                  id="field_birthDate"
                  data-cy="birthDate"
                  type="date"
                  class="form-control form-control-sm"
                  name="birthDate"
                  formControlName="birthDate"
                  placeholder="YYYY-MM-DD"
                />
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-end"></td>
            </tr>
          </thead>
          <tbody>
            @for (student of students(); track trackId(student)) {
              <tr data-cy="entityTable">
                <td>
                  <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a>
                </td>
                <td>{{ student.lrn }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.gradelevel?.value }}</td>
                <td>{{ student.enrollmentDate | formatMediumDate }}</td>
                <td>{{ student.birthDate | formatMediumDate }}</td>
                <td>{{ student.contactNo }} - {{ source() }}</td>
                <td>{{ student.createdBy }}</td>
                <td>{{ student.createdDate | formatMediumDatetime }}</td>
                <td>{{ student.lastModifiedBy }}</td>
                <td>{{ student.lastModifiedDate | formatMediumDatetime }}</td>
                <td class="text-end">
                  <div class="btn-group">
                    <a [routerLink]="['/student', student.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                      <fa-icon icon="eye" />
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </a>

                    <a [routerLink]="['/student', student.id, 'edit', 'list']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt" />
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </a>

                    <button type="submit" (click)="delete(student)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times" />
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </form>
    </div>
  } @else {
    @for (studentref of students(); track trackId(studentref)) {
      <jhi-list-detail-card
        [student]="studentref"
        [selectedStudentId]="selectedStudentId"
        (setSelectedStudent)="setEnrollmentSelectedStudentEvent($event)"
      />
    }
  }
  @if (students().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
